.listaCheckout div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: x-large;
}